<ion-view view-title="Declaracion de privacidad">
<div class="background"></div>
  <ion-content>
  <center>
  	<br/><br/>
    <h1>DECLARACION DE PRIVACIDAD</h1>
    <br/><br/><br/>
    <p style="width:70%">
    Esta aplicacion hace parte del Proyecto Rico pero Saludable a cargo tanto de la linea de Psicología de la Salud adscrita al grupo de Investigación de Psicología Cognitica como de la Unidad de Bienestar de la Facultad de Ingeniería de la Universidad de Antioquia, en colaboración con estudiantes de Ingeniería de Sistemas y el programa de extensión de la Escuela de Nutrición y Dietética de la misma universidad. <br/>
    Se tiene como objetivo favorecer los procesos psicológicos asociados a los comportamientos alimentarios saludables en la población estudiantil de dicha Facultad. La información suministrada en la presente "App" es de carácter confidencial y será utilizada únicamente para asuntos académicos asociados al proyecto. Al presionar <b>Acepto</b> usted está autorizando la utilización de estos datos para los fines anteriormente mencionados.	
    </p>
    <button style="width:70%" menu-toggle="left" class="button button-block button-positive animated rubberBand" ng-click="privacidad();"><b>Acepto</b></button>
  </center>
  </ion-content>
</ion-view>
