<ion-view  view-title="Trivia">
  <div class="background" ></div>
  <ion-content>
  	<center>
      <div ng-show="finish" id=finishDiv>
        <br/><br/>
        <h1 class="animated bounce" style="font-size: 40px; font-style: italic; font-family:cursive;">{{loginData.username}}, has finalizado la trivia de hoy!</h1>
        <br/><br/><br/><br/>
        <h1 class="animated bounce" style="font-size: 40px; font-style: italic; font-family:cursive;"> puntaje: {{puntaje}}</h1>
      </div>
	  <div ng-show="!finish" style="width:70%; height: 100%; background-position: bottom;" id="triviaDiv">
	  		<br/><br/>
		    <h1 class="animated bounce" style="font-size: 40px; font-style: italic; font-family:cursive;">PREGUNTA:</h1>
		    <br/><br/>
		    <h1 id="pregunta" class="animated tada"> {{pregunta.title}} </h1>
		    <br/><br/>
		    <img class="animated bounce" src="" />
		    <button id="botonVerdadero" class="button button-block button-balanced animated rubberBand" ng-click="animar(); doAnswer(true)">Verdadero</button>
		    <button id="botonFalso" class="button button-block button-assertive animated rubberBand" ng-click="animar(); doAnswer(false)">Falso</button>
        <br/><br/>
          <span ng-if="answered" class="animate-if">
            {{pregunta.hint}}
          </span>
          <br/><br/>
          <button ng-if="answered" id="botonContinuar" class="button button-positive rubberBand" ng-click="continuar()">Continuar</button>
		    <br/><br/><br/><br/><br/><br/>
	   </div>
  </center>
  </ion-content>
</ion-view>
