<ion-view  view-title="Trivia">
  <div class="background" ></div>
  <ion-content>
  	<center>
      <div ng-show="finish" id=finishDiv>
        <br/><br/>
        <h1 class="animated bounce" style="font-size: 24px; font-style: Gloria Hallelujah; font-family:cursive;">{{usuarioActivo.username}}, has finalizado la trivia de hoy!</h1>
        <br/><br/><br/><br/>
        <h1 class="animated bounce" style="font-size: 30px; font-style: Gloria Hallelujah; font-family:cursive;"> puntaje: {{puntaje}}</h1>
      </div>
	  <div ng-show="!finish" style="width:90%; height: 100%; background-position: bottom;" id="triviaDiv">
	  		
		    <!--<img src="img/PreguntaBanner.png"></img>-->
		    <h3 id="pregunta" class="animated tada"> {{pregunta.pregunta}} </h3>
		    <br/><br/>
		    <img class="animated bounce" src="" />
		    <button id="botonVerdadero" class="button button-block button-balanced animated rubberBand" ng-click="animar(); doAnswer('verdadero')">Verdadero</button>
		    <button id="botonFalso" class="button button-block button-assertive animated rubberBand" ng-click="animar(); doAnswer('falso')">Falso</button>
          <p ng-if="answered" class="animate-if">
            {{pregunta.hint}}
          </p>
          <img src = {{imagen}} ng-if="answered"></img>
          <br/>
          <button ng-if="answered" id="botonContinuar" class="button button-block button-positive rubberBand" ng-click="continuar()">Continuar</button>
	   </div>
  </center>
  </ion-content>
</ion-view>
