/* Empty. Add your own CSS if you like */



.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/logo.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.2;
    background-position: center;
    filter:alpha(opacity=20);
}

#menuTrivia {
	background-image: url('../img/rps.png'); 
	background-repeat:no-repeat; 
	background-position: center; 
	background-size: 100%;
}